/*
Par Samuel Jacquet
Màj : 07-02-21
*/

#logo{ }
@font-face{
	font-family:'learning_curve';
	src:url('polices/learning_curve/learning_curve_regular_ot_tt.ttf') format('truetype'),
		url('polices/learning_curve/learning_curve_regular_ot_ps.otf') format('opentype');
}
h1,h2{
	font-size:2em;
	font-weight:normal;
	text-align:left;
}
h4{font-size:0.80em;}
body,main{
	background-color:rgb(138, 184, 211);/*DDD*/
	margin:70px auto;
	width:80%;
}
.bloc-personnel{width:320px;background-color:#000;}
.photo{float:left;}
.contact{float:right;width:200px;}
section{clear:both;}
nav a{
	display:inline-block;
	padding:8px 16px;
	margin:0px;
	color:#000;
	background-color:#CCC;
	border:2px solid #FFF;
}
a{
    color:#00F;
	font-size:1.0em;
	text-decoration:none;
}
summary:hover,nav a:hover{background-color:rgb(107,178,99);border-color:#000;color:#FFF}
a:hover{color:rgb(107,178,99);}
summary{
	background-color:#CCC;
	border:2px solid #FFF;
	width:100px;
	padding:8px 16px;
	margin:0px;
}
footer{
	text-align:center;
    border-top:2px #CCC solid;
    font-size:.8em;
}
strong,em{font-style:normal;}
.galery{
	background-color:#EEE;
	display:flex;
	flex-wrap:wrap;
}