/*
style.css
---------
Par Samuel Jacquet
Màj : 28-11-20
*/

#logo{/**/}

@font-face {
	font-family:'learning_curve';
	src: url('polices/learning_curve/learning_curve_regular_ot_tt.ttf') format('truetype'),
		 url('polices/learning_curve/learning_curve_regular_ot_ps.otf') format('opentype');
}

* {

}

/* selecteurs block */
h1, h2 {
	color:;
	font-size: 2em;
	font-family:;
	font-style:;
	font-weight: normal;
	text-decoration:;
	text-align: left;
}

h4 {
	text-align: left;
	font-size: 0.85em;
	
}

p {

}

body {
	/* font-family: 'learning_curve', 'Trebuchet MS', 'serif'; */
    background-color:;
	color: #883f0e;
	background: #DDD scroll repeat top right;
	margin: 70px auto;
    width: 80%;
}

nav {
    color:;
	/*background-color: rgb(255,0,0);
    background-color: rgba(255,0,0,0.3);*/
}

footer {
	/* background: url("images/chemin.jpg") scroll no-repeat top right; */
	/* opacity: 0.2; */
	text-align: center;
    border-top: 2px #d5d5d5 solid;
    font-size: .8em;
	/* border: 2px #000 solid; */
}

/* selecteurs inline */
strong, em {
	font-style: normal;
}

mark {
	color:;
	background:;
}

a {
    color:;
	font-size: 1.0em;
	text-decoration: none;
}

/* Code */

.shell-green {
	color: #4E9A06;
}

.shell-blue {
	color: #3465A4;
}

.shell-turquoise {
	color: #06989A;
}

pre {
	white-space:pre-wrap;
	overfl ow-x:auto;
	tab-width: 4;
}

code.linux{
	font-family: monospace;
	font-size: .9em;
	display: block;
	width:500px;
	border-radius: 10px;
	padding: 5px;
	color: #FFF;
	background:#481036;
}

/* sélecteurs par attributs */
.imageflottante {
	float: left;
}

.sousImage {
	clear: both;
}